
 <!---
 <div class="container mx-auto flex flex-wrap p-9 flex-col md:flex-row items-center">
    <a class="flex title-font font-lg items-center text-blue-900 mb-4 md:mb-0">
      <img alt="clinica" src="./assets/img/centro-medico-neftali-2.png"> 
      <span class="ml-3 text-2xl">
  
        C&nbsp;&nbsp;E&nbsp;&nbsp;N&nbsp;&nbsp;T&nbsp;&nbsp;R&nbsp;&nbsp;O &nbsp;&nbsp; &nbsp;&nbsp; 
        M&nbsp;&nbsp; &Eacute;&nbsp;&nbsp;D&nbsp;&nbsp;I&nbsp;&nbsp;C&nbsp;&nbsp;O &nbsp;&nbsp; &nbsp;&nbsp; 
        D&nbsp;&nbsp;R&nbsp;&nbsp;. &nbsp;&nbsp; 
        N&nbsp;&nbsp;E&nbsp;&nbsp;F&nbsp;&nbsp;T&nbsp;&nbsp;A&nbsp;&nbsp;L&nbsp;&nbsp;I
        
      </span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Home</a>
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">About</a>

      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="hover:text-blue-100 text-blue-600">Login</a>
    
    </nav>
  </div>
-->
 <div class="container mx-auto flex flex-wrap p-9 flex-col md:flex-row items-center">
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <!--
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Home</a>
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">About</a>

      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="hover:text-blue-100 text-blue-600">Login</a>
    -->
    </nav>
  </div>